<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timecat.component.identity">

    <application>
        <meta-data
            android:name="com.timecat.component.identity.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>
</manifest>
